* {
    margin: 0;
    padding: 0;
}
.cat>img {
width: 100px;
}
.main {
    
    background: linear-gradient(90deg, #ffffff 0%, #000000 100%);
    font-size: 28px;
    padding-left: 10px;
}
.head {
    background-color: whitesmoke; 
    text-align: center;
    padding-top: 20px;
    
}
.main>div>img {
    padding-top: 3px;
    float: right;
    width: 45%;
}
h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.main div {
    border-bottom-style: solid;
    padding-bottom: 0.5em;
    border-width: 1px;
}
ol {
    list-style: none;
}
p {
    font-size: 20px;
}
footer>div {
    background-color: gray;
    padding-bottom: 20px;
}
footer p {
    text-align: center;
    color: #000000;
}
@media (max-width: 800px) {
    .main img {
        

    }
} 



